# Generated with hyprdynamicmonitors freeze.
# This is a template that you can edit, it is just a starter that pulled your current monitor setup,
# adjust as needed.
# You can use templates here etc, see https://github.com/fiffeek/hyprdynamicmonitors/blob/main/examples/basic/hyprconfigs/template.go.tmpl.
# Monitors are given arbitrary tags (the "monitor" prefix and the ID coming from hyprland).
# If you are using tui to edit, leave this at the end of your file (the last monitor config applies)
# and leave the markers.
# <<<<< TUI AUTO START
monitor=desc:ST Electronics Systems Assembly Pte Ltd 0xAFC9,1920x1080@59.99600,0x0,1.00000000,transform,0,vrr,0
monitor=desc:Wacom Tech CintiqPro24P 2FH00F1001987,3840x2160@59.99600,1920x0,1.50000000,transform,0,vrr,0
monitor=desc:BNQ BenQ PD2700U ETL9J02269SL0,3840x2160@60.00000,4480x0,1.50000000,transform,0,vrr,0
monitor=desc:BNQ BenQ PD3200U R6L06166019,3840x2160@30.00000,7040x0,1.50000000,transform,0,vrr,0
# <<<<< TUI AUTO END
